{% extends 'base.html' %}
{% load url from future %}

{% block maincontent %}
<table class="contentpaneopen"><tr><td>

<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style" style="float:right; width: 200px">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52b9e3001738234f"></script>
<!-- AddThis Button END -->

<h2>{{article.title}}</h2>

</td></tr><tr><td>

<span class="small">
    Written by
    <a href="{% url 'contributor' article.author.slug %}">{{article.author.name}}</a>
</span>

</td></tr><tr><td>

{{article.text|safe}}

</tr></td></table>
{% endblock %}

{% block leftcolumn %}
{% include 'weevil/magazine_leftcolumn.html' with magazine=article.magazine %}
{% endblock %}
