{% extends 'base.html' %}
{% load url from future %}

{% block maincontent %}
<div class="componentheading">Latest</div>
<table class="blog" cellpadding="0" cellspacing="0">
    {% for article in object_list %}
    <tr>
        <td valign="top">
            <div>
                <a id="{{article.slug}}"></a>
                <table class="contentpaneopen">
                    <tr>
                        <td class="contentheading" width="100%">
                        {{article.title}}
                        </td>
                    </tr>
                </table>
                <table class="contentpaneopen">
{% comment %}
<tr>
	<td width="70%"  valign="top" colspan="2">
		<span class="small">
			Written by <a href="http://www.weevilmagazine.co.uk/index.php?option=com_content&amp;view=article&amp;id=366:a-joy-thompson&amp;catid=35:writers&amp;Itemid=87" title="A. Joy Thompson" >A. Joy Thompson</a>		</span>
		&nbsp;&nbsp;
	</td>
</tr>
{% endcomment %}

                    <tr>
                        <td valign="top" colspan="2" class="createdate">
                            {{article.created|date:"l, j F Y H:i"}}
                        </td>
                    </tr>


                    <tr>
                        <td valign="top" colspan="2">
                        {{article.text|safe}}
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2"  class="modifydate">
                            Last Updated on {{article.updated|date:"l, j F Y H:i"}}
                        </td>
                    </tr>
                </table>
                <span class="article_separator">&nbsp;</span>
            </div>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

{% block leftcolumn %}
<div class="catart">
<ul class="catart">
    <li class="catart_ha">
        <a href="{% url 'news' %}" class="catart_ha">Latest</a></li>
        {% for object in object_list %}
        <li class="catart_n">
            <a href="{%comment%}{% url 'news_article' object.slug %}{%endcomment%}#{{object.slug}}" class="catart_n">{{object.title}}</a></li>
        {% endfor %}

</ul>
</div>
{% endblock %}
